<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>boot.shutdown.script.name</string>

    <key>ProgramArguments</key>
    <array>
        <string>~/.hows-sophie/boot-shutdown.sh</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>~/.hows-sophie/boot-shutdown.log</string>

    <key>StandardErrorPath</key>
    <string>~/.hows-sophie/boot-shutdown.err</string>
</dict>
</plist>